body { margin: 0; padding: 0; }
#map { height: 90vh; width: 100vw; }
#controls {
  position: absolute; top: 10px; left: 10px; right:10px;
  background: rgba(255,255,255,0.98); z-index: 1000;
  padding: 7px 18px 7px 12px; border-radius: 5px; box-shadow:0 2px 10px #ccc;
  display: flex; align-items: center; gap: 20px;
}
#info { font-size: 1.08em; }
#reset-btn { padding: 7px 21px; background:#4285f4; border:0; color: #fff; border-radius: 3px; font-weight: 500; cursor:pointer;}
#reset-btn:hover { background:#2a65be;}